* {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}
.container {
	background-image: url('../images/logo2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 10px;
	height: 120px;
}
.icons {
	padding-bottom: 70px;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

header input {
	height: 20px;
}

.container2 {
	background-image: url('../images/dingu3.jpg');
	background-position: center;
    min-height:650px;
    background-repeat: no-repeat;
    background-size: cover;
	}

.nav1 {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.nav1 ul {
 	list-style: none;
 	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
.nav1 li{

    display: inline;

}
.nav1 a{
	
	text-decoration: none;
	display: inline;
	color: #323131;
	font-size:17px;
    padding:30px;
}

.header1 {
	text-align: center;
}

.header11 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin: 200px 200px 50px 200px;
	text-align: center;
}

/*q {
  quotes: """ """;

}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}*/

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
   margin: auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;

}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}


/*blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
} ???? */

.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	max-width: 1000px; 
	margin: auto;
	text-align: center;
	align-content: center;
		}

.box {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	line-height: 1.5;
	font-size: 0.9em;
	padding: 15px;
	background: #fafafa;
}

.basket {
	padding:15px;
	text-align: center;
	background: #eeeeee;
	font-size: 0.8em;

}

.gallery {
	width: 90%;
	height: 100%;
	/*max-width: 120rem;
	margin: auto;
	padding: 0 1.5rem;*/
	position: relative;
	height: auto;
	margin: auto;
	padding: 45px 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2vmin;
	grid-auto-flow: dense;
}

.container4 .gallery .img{
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	/*grid-template-areas:  */
}

.img{
	width: 300px;
	height: 300px;
	position: relative; /* ka reiskia? */
	overflow: hidden;

}

.img:first-child {
	grid-column-start: span 2;
	grid-row-start: span 2;
}


